<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShaftkitMSA2_Parser.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ShaftkitMSA2_Parser.Properties.Settings1>
            <setting name="InputPath" serializeAs="String">
                <value>C:\Users\ZacSchramm\LamaLo\LL - General\Software\Z-Shaftkit\Modeling\DYNEXE\SHAFT.OUT</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>c:\temp</value>
            </setting>
        </ShaftkitMSA2_Parser.Properties.Settings1>
    </userSettings>
</configuration>